body {
    font-family: 'PingFang SC', sans-serif;
    overflow-y: scroll !important;
    min-height: 100vh;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    font-size: 12px;
}

body[draggable] * {
    pointer-events: none;
}

#root {
    max-width: 780px;
    margin: 10px auto;
}

body::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
}

body::-webkit-scrollbar-thumb {
    background-color: #999;
    background-clip: content-box;
    border: 2px solid transparent;
    border-radius: 5px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #333;
}

/* Header */

.header {
    display: flex;
    align-items: center;
    gap: 5px;
}

.header-icon {
    width: 36px;
    height: 36px;
}

.header-title {
    font-size: 24px;
}

/* Main */
.section-input__textarea {
    border: 1px solid #e0e2e6;
    resize: none;
    min-height: 100px;
    font-family: inherit;
    padding: 10px;
    line-height: 1.5;
    color: #333;
    width: calc(100% - 20px);
    border-radius: 5px;
}

.section-input__textarea:focus {
    outline: none;
    border-color: #333;
}

.section-input__menu {
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: space-between;
}

.section-input__menu-left {
    display: flex;
    gap: 5px;
}

.section-input__menu button {
    background-color: #e5e5e5;
    height: auto;
    width: auto;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-size: 0;
    cursor: pointer;
    color: #666;
    border-radius: 4px;
    border: none;
    display: inline-flex;
    align-items: center;
    overflow: hidden;
    font-family: inherit;
    user-select: none;
}

.section-input__menu button[disabled] {
    cursor: not-allowed;
    color: #000;
}

.section-input__menu button:active {
    outline: 2px solid #9f9f9f;
}

.section-input__menu button > span {
    font-size: 12px;
    padding: 8px 16px;
}

.section-input__menu button > svg {
    padding: 8px;
}

.section-input__menu button > span + svg {
    background-color: #dadada;
}

.section-input__menu button svg {
    width: 16px;
    height: 16px;
}

.synclink-list-container .synclink-loading {
    width: 32px;
    height: 32px;
    color: #aaa;
    display: block;
    margin: 20% auto 0;
}

.synclink-list-container .synclink-loading circle {
    stroke-dasharray: 12.5;
}

.synclink-list-container .synclink-error {
    display: block;
    margin: 20% auto 0;
    text-align: center;
    color: #aaa;
}

.synclink-list {
    margin-top: 10px;
    padding: 0;
    list-style: none;
}

.synclink-list:not(:empty)::after {
    content: "-- END --";
    display: block;
    text-align: center;
    padding: 10px;
    color: #e0e2e6;
}

.synclink-list:empty::after {
    content: "No items found.";
    display: block;
    text-align: center;
    margin-top: 60px;
    color: #e0e2e6;
}

.synclink-list:not(:empty)::after {
    content: "-- END --";
    display: block;
    text-align: center;
    padding: 10px;
    color: #e0e2e6;
}

.synclink-item {
    margin: 20px 0;
    background-color: #fefefe;
    padding: 0 0 20px 0;
    border-radius: 2px;
    border-bottom: 1px dashed #cccccc;
}

.synclink-item:last-of-type {
    border-bottom: none;
}

.synclink-item-title {
    margin-top: 0;
}

.synclink-item-metadata {
    display: flex;
    gap: 5px;
    font-size: 12px;
    margin: 10px 0;
}

.synclink-item-metadata span {
    border: 1px solid #cccccc;
    padding: 0 2px;
}

.synclink-item-menus {
    display: flex;
    gap: 5px;
}

.synclink-item-link {
    -webkit-appearance: none;
    border: none;
    background-color: transparent;
    text-decoration: underline;
    color: #333;
    font-size: 12px;
    font-weight: bold;
    font-family: inherit;
    cursor: pointer;
    padding: 0;
}

/* Preview */
embed.synclink-item-preview {
    background-color: #f5f5f5;
    border: 2px solid #ccc;
    display: block;
    width: 100%;
    min-height: 300px;
    margin-top: 10px;
}

p.synclink-item-preview {
    width: 100%;
    color: #171717;
    font-weight: bold;
    font-size: 12px;
    white-space: break-spaces;
}

video.synclink-item-preview {
    max-width: 100%;
    max-height: 300px;
    object-fit: cover;
}

figure.synclink-item-preview {
    text-align: left;
    margin: 0;
    width: max-content;
}

figure.synclink-item-preview img {
    max-height: 300px;
    max-width: 100%;
    object-fit: cover;
    object-position: left;
}

figure.synclink-item-preview figcaption {
    text-align: right;
}