@import 'photoswipe/dist/photoswipe.css';

/* Item */
.cedasync-item {
  @apply relative mt-10;
  border: 1px solid #d0d7de;
  border-radius: 6px;
  overflow: hidden;
}

@media screen and (max-width: 780px) {
  .cedasync-item {
    margin-bottom: 0;
  }
}

.cedasync-item-title {
  @apply mt-0 font-semibold;
}

.cedasync-item-link {
  -webkit-appearance: none;
  border: none;
  background-color: transparent;
  font-family: inherit;
  cursor: pointer;
  padding: 0;
  display: inline-flex;
  align-items: center;
  @apply text-gray-600;

  svg {
    @apply mr-1;
  }

  &:hover {
    @apply text-gray-900;
  }

  &:active {
    text-shadow: 0 1px 0 #333;
    text-decoration: underline dotted;
  }
}
/* Preview Item */

.cedasync-item-preview {
  max-width: 100%;
}