.section-input {
    position: relative;
}
.section-input__textarea {
    border: 1px solid #e0e2e6;
    resize: none;
    max-height: 300px;
    font-family: inherit;
    padding: 10px;
    line-height: 1.5;
    color: #333;
    font-size: 12px;
    height: 18px;
    width: calc(100% - 20px);
    border-radius: 5px;
    white-space: break-spaces;
}

.section-input__textarea:focus {
    outline: none;
    border-color: #333;
}

.section-input__menu {
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: space-between;
}

.section-input__menu-left {
    display: flex;
    gap: 5px;
}

.section-input__menu-right {
    display: flex;
    gap: 5px;
}
.section-input__menu button {
    height: auto;
    width: auto;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-size: 0;
    cursor: pointer;
    color: #666;
    border: none;
    display: inline-flex;
    align-items: center;
    overflow: hidden;
    font-family: inherit;
}

.section-input__menu button[data-btn-typ="default"] {
    background-color: #e5e5e5;
    border-radius: 4px;
}

.section-input__menu button[data-btn-typ="text"] {
    background-color: transparent;
}

.section-input__menu button[data-btn-typ="default"]:hover {
    background-color: #cfcfcf;
    transition: background-color .16s linear;
}

.section-input__menu button[data-btn-typ="text"]:hover {
    color: #333;
}

.section-input__menu button[data-btn-typ="default"][disabled] {
    cursor: not-allowed;
    color: #000;
}

.section-input__menu button[data-btn-typ="text"][disabled] {
    display: none;
}

.section-input__menu button[data-btn-typ="default"]:active {
    outline: 2px solid #9f9f9f;
}

.section-input__menu button[data-btn-typ="default"] > span {
    font-size: 12px;
    padding: 8px 16px;
}

.section-input__menu button > svg {
    padding: 8px;
}

.section-input__menu button[data-btn-typ="default"] > span + svg {
    background-color: #dadada;
}

.section-input__menu button[data-btn-typ="default"]:hover > span + svg {
    background-color: #c0c0c0;
    transition: background-color .16s linear;
}

.section-input__menu button svg {
    width: 16px;
    height: 16px;
}

.input-measure {
    display: inline-block;
    white-space: break-spaces;
    visibility: hidden;
    position: absolute;
    z-index: -999;
    font-size: 12px;
    line-height: 1.5;
    left: 0;
    top: 0;
}