.ui-dropdown-menu {
  min-width: 8rem;
  @apply z-50 overflow-hidden rounded-md border bg-popover p-1 text-popover-foreground shadow-md;

  &[data-state='open'] {
    @apply animate-in fade-in-0 zoom-in-95;
  }

  &[data-state='closed'] {
    @apply animate-out fade-out-0 zoom-out-95;
  }

  &[data-side='bottom'] {
    @apply slide-in-from-top-2;
  }

  &[data-side='left'] {
    @apply slide-in-from-right-2;
  }

  &[data-side='right'] {
    @apply slide-in-from-left-2;
  }

  &[data-side='top'] {
    @apply slide-in-from-bottom-2;
  }
}

.ui-dropdown-menu-item {
  padding: 0.375rem 0.5rem;
  @apply relative flex cursor-default select-none items-center rounded-sm text-sm outline-none transition-colors;

  &:focus,
  &:active {
    @apply bg-accent text-accent-foreground;
  }

  &[data-disabled] {
    @apply pointer-events-none opacity-50;
  }

  &.inset {
    @apply pl-8;
  }
}

.ui-dropdown-menu-checkbox-item {
  padding: 0.375rem 0.5rem 0.375rem 2rem;
  @apply relative flex cursor-default select-none items-center rounded-sm text-sm outline-none transition-colors;

  &:focus {
    @apply bg-accent text-accent-foreground;
  }

  &[data-disabled] {
    @apply pointer-events-none opacity-50;
  }
}
