/* Item */
.synclink-item {
    margin: 20px 0;
    background-color: #fefefe;
    padding: 0 0 20px 0;
    border-radius: 2px;
    border-bottom: 1px dashed #cccccc;
}

@media screen and (max-width: 780px) {
    .synclink-item {
        margin-bottom: 0;
    }
}

.synclink-item:last-of-type {
    border-bottom: none;
}

.synclink-item-title {
    margin-top: 0;
}

.synclink-item-metadata {
    display: flex;
    gap: 5px;
    margin: 10px 0;
}

.synclink-item-metadata span {
    color: #666;
    font-size: 12px;
}

.synclink-item-menus {
    display: flex;
    gap: 5px;
}

.synclink-item-link {
    -webkit-appearance: none;
    border: none;
    background-color: transparent;
    text-decoration: underline;
    color: #333;
    font-size: 12px;
    font-family: inherit;
    cursor: pointer;
    padding: 0;
}

.synclink-item-link:hover {
    text-decoration: underline dotted;
}

.synclink-item-link:active {
    text-shadow: 0 1px 0 #333;
    text-decoration: underline dotted;
}
/* Preview Item */

.synclink-item-preview {
    max-width: 100%;
}

p.synclink-item-preview {
    width: 100%;
    color: #171717;
    font-size: 12px;
    white-space: break-spaces;
}

video.synclink-item-preview {
    max-width: 100%;
    object-fit: cover;
}

figure.synclink-item-preview {
    text-align: left;
    margin: 0;
    width: max-content;
}

figure.synclink-item-preview img {
    max-width: 100%;
    object-fit: cover;
    object-position: left;
}

figure.synclink-item-preview figcaption {
    text-align: right;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    width: 100%;
}