.upload-manager {
    margin: 20px 0;
    background-color: #fefefe;
    padding: 0 0 20px 0;
    border-radius: 2px;
    border-bottom: 1px dashed #cccccc;
}

.upload-manager .upload-label {
    display: flex;
    align-items: center;
}

.upload-manager .upload-label span {
    font-weight: bold;
    font-size: 16px;
}

.upload-manager .upload-label svg {
    width: 12px;
    height: 12px;
    margin-top: 2px;
    margin-left: 5px;
}

/* Progress Bar */

.upload-manager .upload-progress {
    width: 100%;
    height: 12px;
    display: block;
    background-color: #f1f1f1;
    overflow: hidden;
    margin: 10px 0;
    border-radius: 6px;
    color: #3a3a3a;
    padding: 2px 0;
    box-sizing: border-box;
}

.upload-manager .upload-progress-bar {
    height: 100%;
    transition: width .3s ease-in;
    background-color: currentColor;
    border-radius: 6px;
}

.upload-manager .upload-progress[data-colortype="success"] {
    color: #4caf50;
}

.upload-manager .upload-progress[data-colortype="failure"] {
    color: #ef3d5a;
}

.upload-manager .upload-failure-reason {
    align-items: center;
    gap: 5px;
    font-size: 12px;
    margin-bottom: 5px;
    width: max-content;
    color: #ef3d5a;
    display: flex;
}

.upload-manager .upload-failure-reason svg {
    width: 16px;
    height: 16px;
}

/* Texts */
.upload-manager .upload-details {
    display: inline-flex;
    gap: 5px;
    margin: 10px 0;
}

.upload-manager .upload-details span {
    font-size: 12px;
    color: #333;
}

.upload-manager .upload-details span::after {
    content: "/";
    margin: 0 5px;
    color: #ccc;
}

.upload-manager .upload-details span:last-of-type::after {
    content: none;
}

.upload-manager .upload-actions {
    display: flex;
    gap: 5px;
}

.upload-manager .upload-actions button {
    -webkit-appearance: none;
    border: none;
    background-color: transparent;
    text-decoration: underline;
    color: #333;
    font-size: 12px;
    font-family: inherit;
    font-weight: bold;
    cursor: pointer;
    padding: 0;
}