.ui-tag-input {
  @apply flex flex-wrap gap-1 items-center text-sm;
  @apply rounded-md border border-input shadow-sm transition-colors;
  min-height: 2.25rem;
  padding: 0.25rem;
  &:focus-within{
    @apply ring-1 ring-ring;
  }
  & > div {
    @apply flex items-center h-6 bg-secondary rounded leading-normal;
    &[data-state='active'] {
      @apply ring-ring ring-2 ring-offset-2 ring-offset-background;
    }
    span {
      @apply py-1 px-2 text-sm rounded bg-transparent;
    }
    svg {
      @apply flex rounded bg-transparent mr-1 cursor-pointer opacity-70;
      &:hover{
        @apply opacity-100;
      }
    }
  }
  & > input {
    min-width: 4rem;
    @apply text-sm h-6 bg-transparent pl-2 pr-1 py-1 leading-normal flex-1 w-full;

    &:focus {
      @apply outline-none;
    }
  }
  & > div + input {
    @apply pl-1;
  }
}
